{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link href="{% static 'css/output.css' %}" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.15.0/dist/cdn.min.js" defer></script>

        

    </head>
    <body>
        {% block nav %}
        <nav class="bg-fondonaranja shadow-2xl rounded-xl border-none">
            <div class="container mx-auto px-4">
              <div class="flex items-center justify-between h-full">
                <a href="/menu" class="text-white text-3xl font-bold">
                  Gera Games
                </a>          
                <div class="flex items-center space-x-4">
                  <div class="relative group">
                    <button id="categorias-button" class="text-white hover:bg-azulhover px-3 py-2 rounded-md">
                      Categorías
                    </button>
                    <div id="categorias-menu" class="absolute left-0 top-full z-50 mt-2 w-48 bg-azulhover rounded-lg shadow-md hidden">
                      {% for i in categorias %}
                        <a href="{% url 'categoria' %}?categoria={{ i.categoria }}" 
                           class="block px-4 py-2 text-white hover:bg-fondonaranja rounded-md">
                          {{ i.categoria }}
                        </a>
                      {% endfor %}
                    </div>
                  </div>          
                  <a href="/menu" class="text-white hover:text-black px-3 py-2 rounded-md">
                    Inicio
                  </a>          
                  <div class="relative">
                    <input type="text" placeholder="Buscar" class="bg-fondonaranja border border-white text-white rounded-lg px-3 py-2 w-48 placeholder-white focus:outline-none focus:ring-2 focus:ring-white">
                  </div>          
                  <div class="relative">
                    {% if usuario_id %}
                      <div class="group">
                        <img id="foto" src="{{ fotousuario.url }}" alt="User Profile" class="w-14 h-14 rounded-full cursor-pointer">
                        <div id="foto-info" class="absolute right-0 top-full mt-2 w-48 z-50 bg-azulhover rounded-lg shadow-md hidden">
                          <a href="/cerrar" class="block px-4 py-2 text-white hover:bg-fondonaranja rounded-md">
                            Cerrar sesión
                          </a>
                        </div>
                      </div>
                    {% else %}
                      <div class="flex space-x-3">
                        <a href="/Perfil" class="text-white hover:text-black px-3 py-2 rounded-md">
                          Perfil
                        </a>
                        <a href="/login" class="text-white hover:text-black px-3 py-2 rounded-md">
                          Ingresar
                        </a>
                      </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </nav>
        {% endblock %}
        {% block body %}
        
        {% endblock %}
        {% block javascripts %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
        <script>
            // Inicializa AOS
            AOS.init({
                duration: 1000, 
                once: true,     
            });
        </script>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
            const button = document.querySelector("#categorias-button");
            const menu = document.querySelector("#categorias-menu");

            button.addEventListener("click", () => {
                menu.classList.toggle("hidden");
            });

            document.addEventListener("click", (event) => {
                if (!button.contains(event.target) && !menu.contains(event.target)) {
                    menu.classList.add("hidden");
                }
            });
        });
        </script>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const  img = document.querySelector("#foto");
                const  menu = document.querySelector("#foto-info");
                img.addEventListener("click", () =>  {
                    menu.classList.toggle("hidden");
                });

                document.addEventListener("click", (event) => {
                    if (!img.contains(event.target) && !menu.contains(event.target)) {
                        menu.classList.add("hidden");
                    }
                });
            });
        </script>
        {% endblock %}
    </body>
</html>
