{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link href="{% static 'css/output.css' %}" rel="stylesheet">
    </head>
    <body>
        {% block nav %}
        <nav class="bg-fondonaranja shadow-2xl h-20 rounded-xl border border-none">
            <div class="container mx-auto">
                <div class="sm:flex justify-around">
                    <a href="/menu" class="text-white text-3xl font-bold p-4 relative top-1 -ml-16"> Gera Games</a>
                    
                    <ul class="text-white sm:self-center text-base border-t sm:border-none">
                        <li class="sm:inline-block pt-3">
                            <a href="/menu" class="p-3 hover:text-black">Inicio</a>
                            <a href="" class="p-3 hover:text-black">Categorias</a>
                            <input type="text" class="border border-fondo bg-fondonaranja rounded-lg p-3 h-9 placeholder:text-white" name="" id="" placeholder="Buscar">
                            <a href="/login" class="p-3 hover:text-black">Ingresar</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        {% endblock %}
        {% block body %}
        
        {% endblock %}
        <!-- Importar JavaScript -->
        {% block javascripts %}
        <script>
          // Ejemplo de importación o scripts globales
        </script>
        {% endblock %}
    </body>
</html>
