{% extends 'base.html' %}
{% block title %}Info{% endblock %}
{% block body %}
<body class="bg-fondo min-h-screen">
    <div class="container mx-auto px-4">
        <div class="text-center pt-8 md:pt-12">
            <h1 class="text-2xl md:text-4xl font-bold text-white"> {{ juego.nombre }}</h1>
        </div>
        <div class="border-t-2 border-fondonaranja mt-8 md:mt-14">
            <div class="flex flex-col md:flex-row items-center md:items-start">
                <div class="w-full md:w-1/2 p-4 flex justify-center">
                    <img class="w-full max-w-xl md:max-w-2xl lg:max-w-4xl object-cover hover:scale-105 transition-all duration-300" src="{{ juego.imagen.url }}">
                </div>
                <div class="w-full md:w-1/2 p-4">
                    <p class="text-justify font-light text-white text-base md:text-xl">{{ juego.descripcion }}</p>
                    <div data-aos="zoom-in" class="flex flex-wrap gap-2 mt-4">
                        {% for i in categorias %}
                        <div class="p-1 px-3 bg-fondonaranja rounded-xl text-sm shadow-md shadow-black hover:text-white hover:bg-orange-600  hover:scale-110 transition-all duration-300">
                            {{ i.categoria}}
                        </div>
                        {% endfor %}
                    </div>
                    <div data-aos="zoom-in" data-aos-duration="2000" class="flex flex-wrap gap-2 mt-4">
                        {% for i in plataformas %}
                        <div class="p-1 px-3 bg-fondonaranja rounded-xl text-sm shadow-md shadow-black hover:text-white hover:bg-orange-600 hover:scale-110 transition-all duration-300">
                            {{ i.palaforma}}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-14 md:mt-20">
            <div class="grid grid-cols-1 md:grid-cols-3 gap-4 text-center ">
                <div>
                    <p class="font-bold text-xl text-white md:text-2xl mb-4 " data-aos="zoom-in" data-aos-duration="1000">Precio</p>
                    <div data-aos="zoom-in" data-aos-duration="1000" class="text-2xl h-32 w-32 md:h-48 md:w-48 mx-auto p-8 shadow-lg shadow-black bg-fondonaranja rounded-full flex items-center justify-center hover:text-white hover:bg-orange-600 hover:scale-110 transition-all duration-300">
                        ${{ juego.precio }}
                    </div>
                </div>
                <div>
                    <p class="font-bold text-xl text-white md:text-2xl mb-4" data-aos="zoom-in" data-aos-duration="3000">Desarrollado</p>
                    <div data-aos="zoom-in" data-aos-duration="3000" class="text-2xl h-32 w-32 md:h-48 md:w-48 mx-auto p-8 shadow-lg shadow-black bg-fondonaranja rounded-full flex items-center justify-center hover:text-white hover:bg-orange-600 hover:scale-110 transition-all duration-300">
                        {{ creadores }}
                    </div>
                </div>
                <div>
                    <p class="font-bold text-xl text-white md:text-2xl mb-4" data-aos="zoom-in" data-aos-duration="2000">Calificación</p>
                    <div data-aos="zoom-in" data-aos-duration="2000" class="text-2xl h-32 w-32 md:h-48 md:w-48 mx-auto p-8 shadow-lg shadow-black bg-fondonaranja rounded-full flex items-center justify-center hover:text-white hover:bg-orange-600 hover:scale-110 transition-all duration-300">
                        {{total}}
                    </div>
                </div>
            </div>
        </div>

                
        <form method="POST" class="mt-40">
            {% csrf_token %}
            <h2 class="text-4xl font-bold text-white">Deja tu reseña</h2>
                <div class="flex flex-wrap mt-12">
                    <label for="calificacion" class="text-white p-5">Calificacion</label>
                    <select name="calificacion" id="calificacion" class="w-40 p-2 bg-fondonaranja text-white rounded-lg">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <label for="dificultad" class="text-white p-5">dificultad</label>
                    <select name="dificultad" id="dificultad" class="w-40 p-2 bg-fondonaranja text-white rounded-lg">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <div class=" relative left-14 ">
                        <label for="res" class="p-5 relative -top-7 text-white"> Reseña</label>
                        <textarea id="res" name="res" type="res" class="w-150 h-auto p-2 bg-fondonaranja text-white rounded-lg resize-none"></textarea>
                    </div>
                    <div class="relative left-18 top-5 text-white">
                        <button class="submit" class="bg-fondonaranja p-4 rounded-lg"> Confirmar</button>
                    </div>
                </div>

                

        </form>

        <div class="mt-12">
            <h2 class="text-4xl font-bold text-white">Reseñas</h2>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-4">
                {% if res %}
                    {% for i in res %}
                    <div class="bg-fondonaranja p-4 rounded-xl shadow-lg shadow-white hover:text-white hover:bg-orange-600 hover:scale-105 transition-all duration-300">
                        <div class="relative ">
                            {% if i.usuario.imagen %}
                                <img src="{{ i.usuario.imagen.url }}" class="w-16 h-16 rounded-full mx-auto float-left">
                            {% else %}
                                <img src="usr/default.jpg" class="w-16 h-16 rounded-full mx-auto">
                            {% endif %}
                        </div>
                        <p class="text-sm font-bold relative left-2">{{ i.usuario.nombre }}</p>
                        <p class="text-sm relative left-2">Dificultad  : {{ i.dificultad }}</p>
                        <p class="text-sm relative left-2">Calificacion: {{ i.calificacion }}</p>
                        <p class="text-sm text-right relative -top-8">{{ i.fecha }}</p>
                        <p class="text-sm">{{ i.res }}</p>
                    </div>
                {% endfor %}
                {% else %}
                    <p class="text-center">No hay reseñas</p>
                {% endif %}
        </div>
    </div>
</body>

{% endblock %}