{% extends 'base.html' %}
{% block title %}Inicio{% endblock %}

{% block nav %}

{% endblock %}

{% block body %}
<div class="flex h-screen">
  <div class="w-1/2 bg-fondonaranja flex items-center justify-center">
    <img src="../static/image/geragamesLogo.png">
  </div>
  
  <div class="w-1/2 bg-fondo flex items-center justify-center relative">

    <div class="bg-fondo p-8 rounded-lg w-96">
      <div id="loginForm" class="space-y-6">
        <h2 class="text-2xl font-bold text-white">Login</h2>
        <form method="POST" action="{% url 'login' %}">
          {% csrf_token %}
          <div class="mb-4">
            <label class="block text-white text-sm font-bold mb-2" for="correo">
              Email
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-black leading-tight focus:outline-none focus:shadow-outline" id="correo" type="correo" name="correo" placeholder="usuario@example.com" required>
          </div>
          <div class="mb-8">
            <label class="block text-white text-sm font-bold mb-2" for="contra">
              Password
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-black mb-3 leading-tight focus:outline-none focus:shadow-outline" id="contra" type="contra" name="contra" placeholder="********" required>
          </div>
          <div class="flex items-center justify-center">
            <button type="submit" class="bg-fondonaranja hover:bg-colorhover text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
              Login
            </button>
          </div>
        </form>
      </div>
    </div>
    <!-- Botones de navegación -->
    <div class="absolute flex flex-nowrap top-5 right-5 content-between">
      <div id="loginBtnNav" class="text-white p-4 bg-fondonaranja rounded-l-lg hover:bg-colorhover transition-all cursor-pointer">
        Login 
      </div>
      <a href="/registro">
      <div id="registerBtnNav"  class="text-white p-4 bg-azulhover rounded-r-lg hover:bg-colorhover transition-all cursor-pointer">
        Register
      </div>
      </a>
    </div>
  </div>
</div>
{% endblock %}